:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.87);
	margin: 0;
	padding: 0;
	max-width: 100%;
	background: linear-gradient(to right, rgb(11, 2, 48), rgb(31, 80, 192));
}
